<div class="row">
  <div class="col-md-3 text-center">
    <%= image_tag avatar_url(@other), class: "rounded-circle avatar-medium" %>
    <strong><%= @other.fullname %></strong>
    <%= link_to t(".view_profile"), @other, class: "btn btn-default" %>
  </div>
  <div class="col-md-9">
    <div class="card">
      <div class="card-header">
        <%= t ".conversation_with" %> <%= @other.fullname %>
        <input id="conversation_id" type="hidden" value="<%= @conversation.id %>">
      </div>
      <div class="card-block">
        <div class="container text-center">
          <%= form_for [@conversation, @conversation.messages.new], remote: true do |f| %>
            <div class="form-group">
              <%= f.text_field :content, placeholder: t(".add_a_personal_message"), class: "form-control" %>
            </div>
            <%= f.hidden_field :user_id, value: current_user.id %>
            <div>
              <%= f.submit t(".send_message"), class: "btn btn-normal" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <br>

    <div id="chat">
      <%= render @messages %>
    </div>
  </div>
</div>
