<!DOCTYPE html>
<html>
  <head>
    <title>AirBnb</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB6Stz7RCWDbJmcQMrfbdYC9DIpa_T6JTE&libraries=places"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/ui-lightness/jquery-ui.css">
  </head>

  <body>
    <%= render "shared/navbar" %>
    <%= render "shared/message" %>

    <% if current_user %>
      <input type="hidden" id="user_id" value="<%= current_user.id %>">
    <% end %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
